.clinical-pathway {
	.clinical-pathway-item{
		.clinical-pathway-main-content {
			.clinical-pathway-basic-content {

			}
			.clinical-pathway-details {
				display:none;
				user-select: none;
				padding-bottom: 2rem;
			}
		}

		
	}
}